<div class="container">
  <div class="list-group">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      routerLinkActive="active"
      routerLink="/basic-popover"
    >
      Basic Chart Using a Popover
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action"
      routerLinkActive="active"
      routerLink="/connectors"
    >
      Connectors Chart
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action"
      routerLinkActive="active"
      routerLink="/collapsable"
    >
      Collapsable Chart
    </button>
  </div>
</div>

<br />

<div class="container" style="text-align: center;">
  <p>
    Reference:
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/fperucic/treant-js/tree/master/examples"
      >TreantJS Examples</a
    >
  </p>
</div>
